<?xml version="1.0"?>
<configuration>
 
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
   
  </system.web>
    <system.serviceModel>
    <bindings>
       
      <customBinding>
        <binding name="transportBinding">
          
        <textMessageEncoding messageVersion="Soap12" />
          <!--security authenticationMode="MutualCertificate" />
        <httpsTransport requireClientCertificate="true" /-->
          <httpTransport></httpTransport>
    
        </binding>
      </customBinding>
    </bindings>

   
    <services>
      <service name="LOOKUPSERVICE.LookUpService" behaviorConfiguration="secureBehavior">
        <endpoint name="home" binding="customBinding" bindingConfiguration="transportBinding" contract="LOOKUPSERVICE.ILookUpService"  />
      
        <host>
          <baseAddresses>
             <add baseAddress="https://localhost:3443/" />
              </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="secureBehavior">
          <serviceThrottling maxConcurrentInstances="5000" maxConcurrentSessions="5000" />
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate findValue="ITC.afr.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <clientCertificate>
              <!--<certificate findValue="SERV2BE1V1.idara.net" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName"/>-->
              <authentication certificateValidationMode="PeerTrust" trustedStoreLocation="LocalMachine" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>