<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
     
  </system.web>
  <system.net>
    <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
   
  </system.webServer>
 <system.serviceModel>
    <client>
       <endpoint address="https://b2b.haj.gov.sa/MOH/Integration/2WaySSL"
          behaviorConfiguration="endpointCredntialBehavior" binding="customBinding"
          bindingConfiguration="SOAPEventSourceBinding" contract="_2wayWSDL.PortType"
          name="SOAPEventSource">
          <identity>
             <certificateReference storeName="My" storeLocation="CurrentUser"
                x509FindType="FindBySubjectName" findValue="Sejel Technology" />
          </identity>
       </endpoint>
       <endpoint address="https://86.51.155.40:3443/WebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
          contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
       <endpoint address="http://localhost:63485/WebService.asmx" binding="basicHttpBinding"
          bindingConfiguration="WebServiceSoap2" contract="ServiceReference2.WebServiceSoap"
          name="WebServiceSoap1" />
       <endpoint address="https://eh-b2b.haj.gov.sa/Integration/lookups/GetLookupDetails"
          behaviorConfiguration="endpointCredntialBehavior" binding="basicHttpBinding"
          bindingConfiguration="SOAPEventSourceBinding1" contract="GetLookups.PortType"
          name="SOAPEventSource1" />
       <endpoint address="https://localhost:10003/API/EST" binding="basicHttpBinding"
          bindingConfiguration="EstablishmentsServicesEndpoint1Binding"
          contract="EST.EstablishmentsServices" name="EstablishmentsServicesEndpoint1" />
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointCredntialBehavior">
          <!--هذي اضافة اخيرة-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <clientCredentials>
            <clientCertificate findValue="SERVICES.MHSAE.COM" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />            
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
       <basicHttpBinding>
          <binding name="WebServiceSoap">
             <security mode="Transport" />
          </binding>
          <binding name="WebServiceSoap1" />
          <binding name="WebServiceSoap2" />
          <binding name="SOAPEventSourceBinding1">
             <security mode="Transport">
                <transport clientCredentialType="Certificate" />
             </security>
          </binding>
          <binding name="SOAPEventSourceBinding2" />
          <binding name="EstablishmentsServicesEndpoint1Binding">
             <security mode="Transport" />
          </binding>
          <binding name="EstablishmentsServicesEndpoint1Binding1" />
       </basicHttpBinding>
       <customBinding>
          <binding name="SOAPEventSourceBinding">
             <textMessageEncoding messageVersion="Soap12" />
             <httpsTransport requireClientCertificate="true" />
          </binding>
       </customBinding>
    </bindings>
    
    
  </system.serviceModel>
</configuration>